
<h1>Tracking</h1>

<style type="text/css">
    table {margin: 10px 0}
    th {border: 1px solid #000; vertical-align: middle; padding: 5px}
    th {font: BOLD 12px Arial, Helvetica, sans-serif; color: #ffffff; background: dodgerblue;}
    td {background:#fff; vertical-align: middle; padding: 5px; border: 1px solid #000;}
</style>

<table>
  <tr>
    <th>Name</th>
    <th>Count</th>
    <th>Date</th>
    <th>User</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @tracks.each do |track| %>
  <tr>
    <td><%= track.name %></td>
    <td><%= track.count %></td>
    <td><%= track.created_at.to_date %></td>
    <td><%= track.user.username %></td>
    <td><%= link_to '≈', track %></td>
    <td><%= link_to '∆', edit_track_path(track) %></td>
    <td><%= link_to '•', track, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>


</table>

<% @user_tracks.sort.each do |username, tracks| %>
    <h2><%= username %></h2>

    <%= tracks.collect(&:count).sum %>
    <table>
    <% for track in tracks %>
        <div class="tracking">
           <tr><th><strong><%= track.name %></strong>  </th></tr>
            <tr><td> Tracking: <%= track.count %>   </td></tr>
        </div>
    <% end %>

    </table>
<% end %>




<br />
    <button type="button">
    <%= link_to 'New Track', new_track_path %>
    </button>
